<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="wisata">
    <div class="panel-default well" th:each="wst : ${wisata}">
        <div class="panel-heading">
            <h1 th:text="${wst.namaWisata}"></h1>
        </div>
        <h3 th:text="${wst.deskripsi}" class="panel-body">Description</h3>
        <div class="row panel-footer">
            <div th:inline="text" class="col-md-9">Lokasi : [[${wst.alamat}]]</div>
            <div th:inline="text" class="col-md-2">Harga Tiket : Rp. [[${wst.hargaTiket}]]</div>
            <a th:href="@{'/cart/addTicket/{kode}'(id=${wst.kode})}" class="col-md-1"
               sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-primary" th:text="Buy">Buy Ticket</button>
            </a>
        </div>
        <br></br>
    </div>
</div>

</body>
</html>